## This is a systemctl service that will run the script after every start.
## Copy the change-refind-bg.sh file, use that file's location in ExecStart.

[Unit]
Description=Change Refind Background
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=true
User=root
ExecStart=sh /home/ssj/.config/refind-bg/change-refind-bg.sh

[Install]
WantedBy=multi-user.target

